//PALETA DE COLORES EMPRESA
$primary: rgb(22,35,100);
$secondary: tomato;

//// VARIABLES SASS ////

//BREAKPOINTS
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 992px,
  xxl: 992px
);


//TEXT
$font-family-sans-serif:      'Ubuntu', sans-serif;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$h1-font-size:                $font-size-base * 3.4;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.60;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

//CARDS
$card-border-width:                 0;
// $card-border-color:                 rgba($black, .125);
$card-border-radius:                40px;

//BUTTONS
$btn-border-radius:30px;


@import "../node_modules/bootstrap/scss/bootstrap";

// RAW CSS
main{
    background: rgb(255,53,104);
    background: linear-gradient(0deg, rgba(255,53,104,1) 0%, rgba(255,148,82,1) 100%);
}
.containerPrincipal{
    background-color: $primary;
}
.brandImagen{
    width: 15rem;
}
.lentesContainerPrincipal{
    width: 24rem;
    padding-top: 15px;
}
.nav-link{
    color: rgba(22,35,100,0.8);
    font-size: 1.05rem;
    border-radius: 35px;
}
.nav-link:hover{
    background-color: rgba(0,0,0,0.12);   
    transition: all 0.2s;
}
.btn-primary:hover{
    background-color: white;
    color: $primary;
    transition: all 0.2s;
}
.textoPrincipal h2, .textoPrincipal h3 {
    max-width: 620px;
}
.imagenCard{
    height: 25rem;
    object-fit: cover;
}
.cardModificacion:hover{
    box-shadow: 0 2px 15px 8px rgba(0, 0, 0, 0.35);
    transition: all 0.3s;
    cursor: pointer;
}
.imagenFinal img{
    padding: 2rem 0;
    padding-bottom: 0;
    width: 6rem;
}
.lentesOpcion a{
    text-decoration: none;
    color: rgba(0,0,0,0.9);
}
footer{
    background-color: rgb(42, 42, 42);
}
.logoFooter{
    width: 150px;
    filter: brightness(100);
}
.wave{
    object-fit:cover;
    object-position: top;
    width: 100%;
    height: 150px;
    opacity: 60%;
}
.imagenCardFiltros{
    height: 15rem;
    object-fit: cover;
}
.cardFiltro{
    background-color: rgba(0,0,0,0.5);
    color: white;
    // outline:white solid 1px;
}
.redesFooter a img{
    width: 25px;
    filter: invert(1);
}
.redesFooter a{
    margin: 0 10px;
}

.contactoHeader{
    height: 42px;
    
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    filter: invert(1);
}

//MARCAS

.container-marcas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    text-align: center;
    column-gap: 15px;
    row-gap: 38px;
    
    padding: 2rem 3rem;
    padding-bottom: 0;
    color: white;
}
.container-marcas article{
    padding-top: 1rem;
}
.container-marcas img{
    width: 100px;
}
.container-marcas p{
    padding: 0.8rem;
}

//REDES
.redes img{
    width: 2rem;
}
.redes p{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0;
    color: white;
    display: block;
    transition: ease-in-out 0.2s;
}
.redes a{
    text-decoration: none;
}
.redes{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 130px;
    transition: ease-in-out 0.2s;
}
.redes:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

//MEDIAS QUERIES

@media (max-width: 1100px){
    .lentesContainerPrincipal{
        display: none;
    }
    .lentesDivPrincipal{
        display: none;
    }
    .textoPrincipal{
        max-width: 100%;
    }
    .textoPrincipal h2, .textoPrincipal h3 {
        max-width: 100%;
    }    
}

@media (max-width: 980px){
    .container-marcas {
        padding: 1rem;
        padding-top: 2rem;
    }
}

@media (max-width: 991px){
    .contactoHeader{
        margin-top: 35px;
        height: 60px;
    }
}

@media (max-width: 336px){
    .brandImagen{
        width: 12rem;
    }
    .logoFooter{
        width: 8rem;
    }
    .redesFooter a img{
        width: 24px;
    }
}