html{
    font-family: 'Ubuntu', 'sans-serif';
}
*{
    margin: 0;
    padding: 0;
    border-style: border-box;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10000;
}
main{
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-menu-responsive{
    display: none;
}
.nav-menu{
    display: flex;
}
.nav-menu, .nav-menu-responsive{
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem 0;
    outline: lightgrey 1px solid;
}
.nav-menu img, .nav-menu-responsive img{
    width: 250px;
}
.nav-menu__ul-noresponsive{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-menu__ul-noresponsive li{
    margin: 0 20px;
}
.nav-menu__ul-noresponsive li a{
    transition: all 0.15s;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 22px 25px;
    font-weight: 500;
    color: rgb(56, 70, 143);
}
.nav-menu__ul-noresponsive li a:hover{
    color: rgb(22, 35, 100);
    background-color: rgba(22, 35, 100, 0.178);
    border-radius: 20px;
}
.nav-menu button, .nav-menu-responsive button{
    transition: all 0.25s;
    padding: 0.5rem 1.5rem;
    background-color: rgb(22, 35, 100);
    color: white;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.nav-menu button:hover, .nav-menu-responsive button:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(22, 35, 100);
    outline: rgb(22, 35, 100) 1px solid;
}
.presentacion{
    background-color: rgb(22, 35, 100);
    color: white;
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: 60% 40%;
}
.presentacion__texto{
    width: 600px;
}
.presentacion__texto h3{
    font-size: 3.5rem;
    font-weight: 700;
}
.presentacion__texto p{
    font-size: 1.5rem;
    font-weight: 400;
}
.presentacion__imagen{
    width: 300px;
    height: 200px;
    margin: auto;
    object-fit:contain;
}
.container-busqueda{
    background-color: tomato;
    padding: 1rem;
}
.container-busqueda p{
    font-size: 24px;
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.container-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    text-align: center; 
    width: 95%;
    margin: 0 auto;
}
.container-cards article{
    transition: all 0.3s;
    background-color: white;
    margin: 1.5rem 2rem;
    border-radius: 12px;
    padding: 1.4rem 0 1rem 0;
}
.container-cards article:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.800);
    cursor: pointer;
}
.container-cards img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.container-cards div h2{
    font-size: 28px;
    padding: 1rem;
    color: rgb(26, 26, 26);
}
.container-cards div h3{
    font-size: 20px;
    color: rgb(54, 54, 54);
    font-weight: 300;
    padding-bottom: 0.5rem;
    font-style: italic;
}
.container-cards div p{
    color: rgb(46, 46, 46);
    font-weight: 300;
}
.container-imagen-final{
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 1.5rem 0 2rem 0;
}
.container-imagen-final img{
    width: 5rem;
    /* filter: brightness(100); */
}

/* MARCAS */
.container-marcas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    text-align: center;
    column-gap: 15px;
    row-gap: 38px;
    
    padding: 1rem 3rem;
    padding-top: 2rem;
    color: white;
}
.container-marcas article{
    transition: all 0.15s ease-in;
    padding-top: 1rem;
}
.container-marcas article:hover{
    box-shadow: rgba(255, 255, 255, 0.4) 1px 1px 5px;
    border-radius: 20px;
    cursor: pointer;
}
.container-marcas img{
    width: 100px;
    filter:brightness(100);
    z-index: 10;
}
.container-marcas p{
    padding: 0.8rem;
}

/* CONTACTO */
.container-redes-maps{ 
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.container-redes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px,1fr));
    text-align: center;
    padding: 2rem;
    column-gap: 5rem;
    row-gap: 2rem;
}
.container-redes button{
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 1.8rem;
    border-style: none;
}
.container-redes button img{
    width: 50px;
}
.container-redes button div{
    height: 40px;
    margin: auto 0;
}
.container-redes button div h3{
    font-size: 22px;
}
.container-redes button div p{
    font-size: 16px;
}
.container-redes__instagram{
    transition: all 0.3s;
    background-color: rgb(180, 35, 70);
    color: white;
}
.container-redes__instagram:hover{
    color: rgb(180, 35, 70);
    background-color: white;
    outline: rgb(180, 35, 70) 2px solid;
    cursor: pointer;
}
.container-redes__facebook{
    transition: all 0.3s;
    background-color: rgb(25, 25, 80);
    color: white;
}
.container-redes__facebook:hover{
    color: rgb(25, 25, 80);
    background-color: white;
    outline: rgb(25, 25, 80) 2px solid;
    cursor: pointer;
}
.container-redes__whatsapp{
    transition: all 0.3s;
    background-color: green;
    color: white;
}
.container-redes__whatsapp:hover{
    color: green;
    background-color: white;
    outline: green 2px solid;
    cursor: pointer;
}
.container-maps img{
    width:500px;
    margin: 1rem auto;
    border-radius: 30px;
    filter: saturate(3);
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(42, 42, 42);
    color: white;
    align-items: center;
    padding: 2rem 4rem;
}
footer img{
    width: 10rem;
    filter: brightness(100);
}

/* MEDIA QUERIS */
@media (max-width: 1100px){
    .presentacion{
        grid-template-columns: 1fr; 
    }
    .presentacion__imagen{
        display: none;
    }
    .presentacion__texto{
        text-align: center;
        margin: 0 auto;
    }
    .presentacion__texto h3{
        text-align: center;
        margin: 0 auto;
    }
}
@media (max-width: 980px){
    .nav-menu{
        display: none;
    }
    .nav-menu-responsive{
        display: flex;
        justify-content: space-around;
    }
    .presentacion{
        padding: 1.5rem 2%;
    }
    .presentacion__texto{
        width: 95%;
        max-width: 550px;
    }
    .presentacion__texto h3{
        font-size: 2.5rem;

    }
    .presentacion__texto p{
        font-size: 1.2rem;
    }
    .container-marcas{
        padding: 1rem;
        padding-top: 2rem;
    }
}