@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
    font-family: "Inter", sans-serif;
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    .flex-start {
        @apply flex justify-start items-center;
    }

    .btn {
        @apply bg-primary-500 text-white py-2 px-4 rounded hover:bg-primary-800  !important;
    }

    .background-custom-gradient { 
        /* background: rgb(131,58,180);
        background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 35%, rgba(252,176,69,1) 100%);  */
        background: rgb(39,17,53);
        background: linear-gradient(0deg, rgba(39,17,53,1) 0%, rgba(64,11,23,1) 100%); 
        
    }

    .background-custom2-gradient { 
        background: rgb(22, 88, 100);
        background: linear-gradient(0deg, rgb(10, 63, 66) 0%, rgba(22,35,100,1) 100%);     
    }

}

.no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.primary-text-gradient {
    background: linear-gradient(129deg, --primary 0%, #e2995f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
