@import url(/src/utils/const.css);

.header-section{
    background: var(--primary-color);
}
.fs-titulo{
    font-size: 3.4rem;
    font-weight: 700;
}
.img-header{
    width: 350px;
    object-fit: contain;
}