@import '../../styles/const.css';

.logo{
    width: 230px;
}
.nav-link{
    color: var(--primary-color-75);
    font-weight: 700;
}
.nav-link:hover{
    color: var(--primary-color);
    background-color: var(--primary-color-10);
}
.btn:hover{
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    background-color: white;
}
.navbar-toggler-icon{
    filter: invert(1);
}