@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* leading es el 130% del tamaño de fuente */

    .h1-bold {
        @apply text-[47.78px] font-bold leading-[62.114px];
    }

    .h2-bold {
        @apply text-[39.81px] font-bold leading-[51.753px];
    }

    .h2-semibold {
        @apply text-[39.81px] font-semibold leading-[51.753px];
    }

    .h3-bold {
        @apply text-[33.18px] font-bold leading-[43.134px];
    }

    .h3-semibold {
        @apply text-[33.18px] font-semibold leading-[43.134px];
    }

    .h5-bold {
        @apply text-[23.04px] font-bold leading-[29.952px];
    }

    .h5-semibold {
        @apply text-[23.04px] font-semibold leading-[29.952px];
    }

    .h5-regular {
        @apply text-[23.04px] leading-[29.952px];
    }

    .base-regular {
        @apply text-[18px] leading-[25.2px];
    }

    .base-medium {
        @apply text-[18px] font-medium leading-[25.2px];
    }

    .base-semibold {
        @apply text-[18px] font-semibold leading-[25.2px];
    }

    .base-bold {
        @apply text-[18px] font-bold leading-[140%];
    }

    .paragraph-regular {
        @apply text-[16px] font-normal leading-[22.4px];
    }

    .paragraph-medium {
        @apply text-[16px] font-medium leading-[22.4px];
    }

    .paragraph-semibold {
        @apply text-[16px] font-semibold leading-[20.8px];
    }

    .body-regular {
        @apply text-[14px] font-normal leading-[19.6px];
    }

    .body-medium {
        @apply text-[14px] font-medium leading-[18.2px];
    }

    .body-semibold {
        @apply text-[14px] font-semibold leading-[18.2px];
    }

    .small-regular {
        @apply text-[12px] font-normal leading-[15.6px];
    }

    .small-medium {
        @apply text-[12px] font-medium leading-[15.6px];
    }

    .small-semibold {
        @apply text-[12px] font-semibold leading-[15.6px];
    }

    .subtle-medium {
        @apply text-[10px] font-medium leading-[13px] !important;
    }

    .subtle-regular {
        @apply text-[10px] font-normal leading-[13px];
    }

    .placeholder {
        @apply placeholder:text-light-400 dark:placeholder:text-light-500;
    }

    .invert-colors {
        @apply invert dark:invert-0;
    }

    .primary-gradient{
        background: rgb(98,13,142);
        background: linear-gradient(0deg, rgba(98,13,142,1) 0%, rgba(22,35,100,1) 100%); 
    }

    .grid-cols-auto-custom {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
